:root {
    --main-padding: 10%;
    --mobile-padding: 20px;
}

.header-navigation {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    list-style-type: none;
    color: #505F98;
}

.header-element-container {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    width: 100%;
}

.footer-element-container {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
}

.flex-align-left {
    justify-content: flex-start;
}

.flex-align-right {
    justify-content: flex-end;
}

.flex-align-center {
    justify-content: center;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 79px;
    height: 38px;
}

.button-primary {
    padding: 6px 56px;
    border-radius: 2px;
    background-color: #111B47;
    font-size: 12px;
    color: #FFFFFF;
}

.button-secondary {
    padding: 6px 56px;
    border-radius: 2px;
    border: 2px solid #111B47;
    font-size: 12px;
    color: #111B47;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 69px;
}

.hero-button {
    padding: 3px 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.main-block {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.large-block-header {
    font-size: 20px;
}

.main {
    width: 100%;
}

.section {
    display: flex;
    width: 100%;
    height: 569px;
    padding: 0 var(--main-padding);
    align-items: center;
}

.hero {
    background: right top no-repeat url("img/designer_1.svg");
    background-size: contain;
    height: 100vh;
    padding-top: 60px;
}

.section1 {
    background: right no-repeat url("img/undraw_mobile_login_ikmv.svg");
    background-position-x: calc(100% - var(--main-padding) * 2);
}

.section2 {
    background: right no-repeat url("img/undraw_happy_news_hxmt.svg");
    background-position-x: calc(var(--main-padding) * 2);
    justify-content: right;
}

.section3 {
    background: right no-repeat url("img/undraw_social_influencer_sgsv.svg");
    background-position-x: calc(var(--main-padding) * 2);
    justify-content: right;
}

.section4 {
    background: right no-repeat url("img/undraw_mention_6k5d.svg");
    background-position-x: calc(var(--main-padding) * 2);
    justify-content: right;
}

.hero-title {
    font-size: 50px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 20px;
}

.section-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    margin-bottom: 16px;
}

.text-block {
    width: 539px;
}

.description {
    color: #505F98;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
}

.description + .description {
    margin-top: 14px;
}

.title {
    color: #091133;
}

.card-text-block {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 255px;
}

.card-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.card-description {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #5D6970;
}

.section-content {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.section-button {
    padding: 4px 30px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.description + .section-button {
    margin-top: 40px;
}

.pricing {
    background: top no-repeat url("img/Rectangle.svg");
    background-size: cover;
    height: 100vh;
    justify-content: center;
}

.pricing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}

.pricing-content .text-block {
    width: 600px;
}

.pricing-title {
    text-align: center;
}

.pricing-description {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #6F7CB2;
}

.pricing-price {
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    color: #222F65;
}

.pricing-button-block {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.pricing-undertext {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #37447E;
}

.button-descr {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.pricing-button {
    padding: 4px 49px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.card-icon {
    display: block;
    width: 36px;
    height: 36px;
    background: no-repeat url("img/Icon.svg");
    background-size: contain;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #E7ECFF;
    padding: 0 var(--main-padding) 0 var(--main-padding);
}

.footer-upper-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.footer-under-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.footer-navigation {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    list-style-type: none;
    color: #929ECC;
}

.footer-icons-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.little-icon {
    display: block;
    width: 16px;
    height: 16px;
    background-size: contain;
}

.footer-copyright {
    color: #939EA4;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.footer-button {
    padding: 4px 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.delimiter {
    width: 100%;
    border: 1px solid #CDD1D4;
}

@media (max-width: 1300px) {
    .section1 {
        background: none;
        justify-content: center;
    }

    .section2 {
        background: none;
        justify-content: center;
    }

    .section3 {
        background: none;
        justify-content: center;
    }

    .section4 {
        background: none;
        justify-content: center;
    }
}

@media (max-width: 1100px) {
    .hero {
        background: #E7ECFF;
        background-size: contain;
        height: 100vh;
        padding-top: 60px;
    }
}
